// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

label {
    display: inline-block;
    font-size: 21px;
    margin: 12px 19px 11px;
}